* {
  /*outline: dashed 1px rgba(255, 0, 255, .2);*/
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

body, html {
    margin: 0;
    width: 100%;
    height: 100%;
}

body {
 
}

#canvas {
    display: block;
    padding: 0;
    margin: 0 auto;
    width: 100%;
    height: 100%;
}

.fullscreen {
    position: absolute;
    height: 100%;
    width: 100%;
    top:0;
    left:0;

   -webkit-transform: translateZ(0);
   -moz-transform: translateZ(0);
   -ms-transform: translateZ(0);
   -o-transform: translateZ(0);
   transform: translateZ(0);
}

#canvas {
    display: block;
    padding: 0;
    margin: 0 auto;
    z-index: 10;
}

.navigation {
    position: fixed;
    z-index: 10;
    display: block;
    width: 100%;
    height: auto;
    background-color: rgba(0,0,0,0.15);
    -moz-transition: opacity 0.4s ease-in-out;
    -o-transition: opacity 0.4s ease-in-out;
    -webkit-transition: opacity 0.4s ease-in-out;
    transition: opacity 0.4s ease-in-out;
}

.navigation a {
        color: white;
        text-transform: uppercase;
        padding: 10px;
}

.home {
    position: relative;
    background-image: url("../Assets/home-background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center bottom;
    width: 100%;
    height: 100%;
}

.logo {
    position: relative;
    top: 35%;
    display: block;
    width: 800px;
    height: auto;
    margin: 0 auto;
}

.logo a {
    display: block;
    width: 200px;
    border: 5px solid white;
    text-align: center;
    margin: 0 auto;
    padding: 10px;
    margin-top: 40px;
    color: white;
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: bold;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.logo a:hover {
    text-decoration: none;
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}


.logoSmall {
    position: relative;
    top: 10%;
    text-align: center;
    display: block;
}

.hostedGames {
    width: 60%;
    height: 70%;
    position: relative;
    top: 15%;
    padding: 10px 20px 10px 20px;
    margin: 0 auto;
    border: 1px solid white;
    overflow: auto;
}

.hostedGames h2 {
    color: #ffffff;
    border-bottom: 2px solid white;
    padding-bottom:10px;
}

.gamesList {
    position: relative;
    height: 40px;
    border-bottom: 1px solid white;
    margin-bottom: 7px;
}

.gamesList:nth-last-child(2) {
    border-bottom: 0;
    border-bottom: 2px solid white;
    padding-bottom: 30px;
}

.hostedGames h4 {
    position: absolute;
    color: #ffffff;
    font-size: 16px;
    display: inline;
}

.joinButton {
    position: absolute;
    top: 50%;
    right: 0px;
    transform: translateY(-50%);
    width: 100px;
    font-size: 14px;
    color: #ffffff;
    border: 2px solid white;
    border-radius: 3px;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
}

.joinButton:hover {
    color: #000000;
    background-color: #ffffff;
    text-decoration: none;
}

.newGameButton {
    position: relative;
    margin-top: 20px;
    float: right;
    width: 120px;
    font-size: 14px;
    color: #000000;
    background-color: #ffffff;
    border: 2px solid white;
    border-radius: 3px;
    text-align: center;
    cursor: pointer;
}

.dropdown {
    position: relative;
    width: 150px;
}

.dropdown:hover .dropdown-content {
    display: block;
    z-index: 3;
}

.dropbtn {
    color: white;
    width: 100%;
    padding: 5px 10px;
    font-size: 16px;
    border: 1px solid white;
    cursor: pointer;
    background: url("../Assets/iconDropdown.png") no-repeat right;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 100%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}


