body, html {
    margin:0;
    width:100%;
    height:100%;
}

body{
}


.background-animations{
    background-color:red;
    z-index:-10;
}

.water-background{
    background-image:url(../Assets/water-layer.png);
    background-repeat:repeat;
    z-index:1;
}

.water-middle{
    background-image:url(../Assets/water-middle.png);
    background-repeat:repeat;
    z-index:2;
}

.water-foreground{
   background-image: url(../Assets/water-foreground.png);
   background-repeat:repeat;
   z-index:3;
}











.fullscreen{
    position:absolute;
    height:100%;
    width:100%;
}



#canvas {
    display:block;
    padding:0;
    margin:0 auto;
    z-index:10;
}

.navigation{
    position:fixed;
    z-index:10;
    display:block;
    width:100%;
    height:auto;
    background-color:rgba(0,0,0,0.3);
    opacity:0.5;
    transition:opacity 0.4s ease-in-out;
}

.navigation:hover{
    opacity:1;
}

.navigation a{
    color:white;
    text-transform:uppercase;
    padding:10px;
}



.home{
    position:relative;
    background-image:url("../Assets/home-background.jpg");
    background-size:cover;
    background-repeat:no-repeat;
    background-position:center bottom;
    width:100%;
    height:100%;
}

.logo{
    position:relative;
    top:35%;
    display:block;
    width:800px;
    height:auto;
    margin:0 auto;
}

.logo a{
    display:block;
    width:200px;
    border:5px solid white;
    text-align:center;
    margin:0 auto;
    padding:10px;
    margin-top:40px;
    color:white;
    text-transform:uppercase;
    font-size:2rem;
    font-weight:bold;
    transition:all 0.2s ease-in-out;
}
.logo a:hover{
    text-decoration:none;
    transform:scale(1.2);
}