e.VOC.us/obj
e.VOC.us/bin
e.VOC.us/Scripts/bundle.js
e.VOC.us/Scripts/bundle.js.map
e.VOC.us/Scripts/TypeScript/*.js
e.VOC.us/Scripts/TypeScript/*.map
e.VOC.us/Scripts/bundle.d.ts
.vs/e.VOC.us/v14/.suo
.vs/config/applicationhost.config
.vs/e.VOC.us/v14/.suo
.vs/e.VOC.us/v14/.suo
e.VOC.us/Scripts/bundle.d.ts
