@model string

<div class="background-animations fullscreen">
    <div class="water-background fullscreen"></div>
    <div class="water-entities"></div>
    <div class="water-middle fullscreen"></div>
    <div class="water-foreground fullscreen"></div>
</div>

<div class="minimap">
    <div class="header clearfix">
        <span>MAP</span>
        <div class="arrow">
            <img src="~/Assets/iconDropdown.png" alt="V" id="arrow">
        </div>
    </div>
    <canvas id="map">
    </canvas>
</div>

<canvas id="canvas" gameId="@Model">
    Your browser does not support the HTML5 canvas tag.
</canvas>

<div class="foreground-animations fullscreen">
    <div class="clouds-background fullscreen"></div>
    <div class="clouds-middle fullscreen"></div>
    <div class="clouds-foreground fullscreen"></div>
</div>

<div id="scoreboard">
</div>




@section scripts
{
    @Scripts.Render("~/bundles/signalr")
    @* ReSharper disable once Html.PathError *@
    <script src="~/signalr/hubs"></script>
    @Scripts.Render("~/Scripts/bundle.js")
}

@section Styles
{
    @Styles.Render("~/Content/game")
}
