@{
    ViewBag.Title = "Creat New Game";
}


<div class="home">
    <div class="logoSmall">
        <img src="~/Assets/logo_small.png" />
    </div>

    <div class="hostedGames">

        <h2>Enter the name of the game</h2>

        @using (Html.BeginForm())
        {
            @Html.TextBox("Name", null, new { @class = "nameInput" })
            <input type="submit" value="Create game" />
        }

        

    </div>
</div>



