@model IEnumerable<e.VOC.us.Models.Map>

<div id="maps" maps="@Json.Encode(Model)"></div>

<div class="home">
    <div class="logoSmall">
        <img src="~/Assets/logo_small.png" />
    </div>

    <div class="hostedGames">

        <h2>Create</h2>

        <div>Map: <select data-bind="options: maps, optionsText: 'Name', value: selectedMap, optionsCaption: 'Choose a map'"></select></div>
        <div data-bind="foreach: slots">
            <div>Position <span data-bind="text: ($index() + 1)"></span>: Team: <input style="width: 40px;" type="number" data-bind="value: team"></div>
        </div>

        @using (Html.BeginForm())
        {
            <text>Name:</text>@Html.TextBox("Name")
            <input type="hidden" name="slots" data-bind="value: slotsString">
            <input type="hidden" name="mapId" data-bind="value: mapId">
            <input type="submit" value="Submit" />
        }
    </div>
</div>
@section scripts
{
    @Scripts.Render("~/bundles/knockout")
    <script src="~/Scripts/js/create lobby.js"></script>

}
