
@{
    ViewBag.Title = "Hosted Games";
}

<div class="home">
    <div class="logoSmall">
        <img src="~/Assets/logo_small.png" />
    </div>

    <div class="hostedGames">

        <h2>Kies een game</h2>
        <div data-bind="foreach: lobbies">
            <div class="gamesList">
                <h4 data-bind="text: Name"></h4>
                <a class="joinButton" data-bind="attr: { href: 'index/' + Id }">join</a>
            </div>
        </div>
        <button style="float: right;" data-bind="click: GetLobbies">Refresh</button>

    </div>
</div>

@section scripts
{
    @Scripts.Render("~/bundles/lobbies")
}