
@{
    ViewBag.Title = "Hosted Games";
}


<div class="home">
    <div class="logoSmall">
        <img src="~/Assets/logo_small.png" />
    </div>

    <div class="hostedGames">

        <h2>Kies een game</h2>

        <div class="gamesList">
            <h4>Name of game 1</h4>
            <div class="joinButton">Join game</div>
        </div>
        <div class="gamesList">
            <h4>Name of game 2</h4>
            <div class="joinButton">Join game</div>
        </div>
        <div class="gamesList">
            <h4>Name of game 3</h4>
            <div class="joinButton">Join game</div>
        </div>

        <div class="newGameButton">New Game</div>

    </div>
</div>

