
@{
    ViewBag.Title = "Creat New Game";
}


<div class="home">
    <div class="logoSmall">
        <img src="~/Assets/logo_small.png" />
    </div>

    <div class="hostedGames">

        <h2>Select # of teams and members</h2>

        <div class="gamesList">
            <div class="dropdown">
                <div class="dropbtn">Select a team</div>
                <div class="dropdown-content">
                    <a href="#">Team 1</a>
                    <a href="#">Team 2</a>
                    <a href="#">Team 3</a>
                </div>
            </div>
        </div>
        <div class="gamesList">
            <div class="dropdown">
                <div class="dropbtn">Select a team</div>
                <div class="dropdown-content">
                    <a href="#">Team 1</a>
                    <a href="#">Team 2</a>
                    <a href="#">Team 3</a>
                </div>
            </div>
        </div>
        <div class="gamesList">
            <div class="dropdown">
                <div class="dropbtn">Select a team</div>
                <div class="dropdown-content">
                    <a href="#">Team 1</a>
                    <a href="#">Team 2</a>
                    <a href="#">Team 3</a>
                </div>
            </div>
        </div>
        <div class="gamesList">
            <div class="dropdown">
                <div class="dropbtn">Select a team</div>
                <div class="dropdown-content">
                    <a href="#">Team 1</a>
                    <a href="#">Team 2</a>
                    <a href="#">Team 3</a>
                </div>
            </div>
        </div>
        <div class="gamesList">
            <div class="dropdown">
                <div class="dropbtn">Select a team</div>
                <div class="dropdown-content">
                    <a href="#">Team 1</a>
                    <a href="#">Team 2</a>
                    <a href="#">Team 3</a>
                </div>
            </div>
        </div>
        <div class="gamesList">
            <div class="dropdown">
                <div class="dropbtn">Select a team</div>
                <div class="dropdown-content">
                    <a href="#">Team 1</a>
                    <a href="#">Team 2</a>
                    <a href="#">Team 3</a>
                </div>
            </div>
        </div>

        <div class="newGameButton">Start Game</div>

    </div>
</div>

